* {
	margin: 0;
	padding: 0;
}

body {
	background: url(images/main_bg.jpg);
	background-repeat: no-repeat;
	background-size: 90%;
	font-family: 'Roboto', sans-serif;
}

h3, h4 {
	text-transform: uppercase;
	color: green;
}

h5, h6 {
	color: green;
}

h4 {
	color: #838383;
}

.date, p {
  color: #797a7e;
}

hr {

    border: none;
    height: 1px;
    background-color: #7ea04d;     
}

button {
  text-transform: uppercase;
  padding: 0.312rem 0.625rem;
  color: #81b214;
  background-color: #fff;
  font-size: 1.2rem;
  border-color:  #91d18b;
}

button:hover {
  opacity: 0.6;
  color: #7ea04d;
}

.arrow {
padding-left: 3.125rem;
}


/*Heading Styling*/

.navbar {
	background: url(images/header_bg01.png);
	background-position: left;
	background-size:cover;
	z-index: 1;
	padding: 0.5rem 1.25rem 1.25rem;
	box-shadow: 0 2px 10px -2px rgba(0,0,0,.3);
}

.navbar-brand {
	position: relative;
	left: 5%;
	width: 300px;
   	height: 60px;
}

nav ul {
    float: right;
    display: flex;
    justify-content: space-around;

}

nav ul li {
    float: left;
    display: flex;
    margin: 0 1rem 0;
    align-items: center;
    justify-content: space-around;
    padding-left: 5rem;
}

.nav-item a {
  font-size: 1.2rem;
  color: #557571;
  padding-top: 1rem;
}

.carousel {
	margin: 0 6%;
}

.carousel-item img {
	height: 380px;
	position: relative;
	bottom: 0.625rem;
}

.caption {
    position: absolute;
    left: 68%;
    bottom: 28%;
}

.caption button {
	margin-top: 3rem;
}

.carousel-indicators {
	text-align: right;
    float: right;
    right: 0px;
    margin-right: 4rem;
    left: inherit;
    color: #797a7e;

}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255)
  border: 1px solid #797a7e;
}


/*Second Container*/

#second-container {
	margin: 4% 6%;
	padding: 2%;
	border: 1px solid #d8d3cd;
	background-color: #f6f5f5;
}

.second-heading
{
	margin: 
}

.second-row1
{
	padding: 1.25rem;
}

.second-row1-col1 {
	padding-left: 0;
}

.second-row1-col1 button {
	margin-top: 7.5rem;
}

.vertical { 
    border-left: 1px solid #9cada4; 
    height: 26rem;
    position: absolute; 
    left: 0;  
} 

.vertical-inner { 
    border-left: 1px solid #9cada4; 
    height: 24rem;
    position: absolute; 
    left: 0;  
} 

.lifestyle-sub-heading {
    padding-top: 10px;
    padding-bottom: 10px;
}



/*Third Container*/

#third-container {
	margin: 4% 6%;
}

.third-col {
	padding: 1.2%; 
}


.news-content {
	padding: 2%;
}

.news-content p {
	padding-top: 4%;
}

.third-container-sub-row {
	padding: 2%;
}

.third-container-col-content {
	
	padding-right: 5%;
}


/*Media Section Styling*/

#media-section {
	margin: 4% 6%;
	border: 1px solid #d8d3cd;
	padding: 2% 3% 3% 3%;
	background-color: #f6f5f5;
}

.media-col1 {
	padding-right: 5.26%;
}

.media-col2 {
	padding-left: 5.26%;
}

.media-heading {
	padding-left: 1.725%;
}

.media-resource {
	margin-top: 3%;
}

.media-sub-col {
	padding: 2% 0;
}

.media-content {
	padding: 6% 0;
}

#media-section img {
	width: 200px;
	height: 130px;
}

.close {
    position: relative;
    left: 30px;
    bottom: 30px;
}

.previous-icon {
    position: relative;
    right: 8rem;
}

.next-icon {
    position: relative;
    left: 8rem;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 30px;
    width: 30px;
    outline: grey;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}


/*Footer Styling*/

footer {
	background: url(images/footer_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 3% 0 0;
	padding: 2% 3.5% 3.5%;
}

footer a {
	padding: 0 3%;
	color: #f4f4f4;
	text-decoration: none;
}

footer a:hover {
	
	text-decoration: none;
	color: #fff;
}

footer p {
	font-size: 0.8rem;
	color: #f4f4f4;
}


/*Media Queries for making the site responsive*/
@media only screen and (min-width:321px) and (max-width:990px) {

	body {
		text-align: center;
	}

	footer {
		text-align: left;
		margin: 0;
		padding: 3rem;
	}

	footer a {
		text-align: left;
		padding: 1%;
	}

	.vertical, .vertical-inner{
		display: none;
	}

	#second-container button {
		margin-top: 1rem;
	}

	.block-second {
		margin-top: 6rem;
	}

	.block-second h4 {
		padding: 3rem;
	}

	.caption button {
		margin-top: 0;
		font-size: 0.8rem;

	}
}


/*Modal Queries*/

$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;
 
/*Crop thumbnail images.*/
#gallery {

  img {
    height: 75vw;
    object-fit: cover;
    
    @media (min-width: $bootstrap-sm) {
      height: 35vw;
    }
    
    @media (min-width: $bootstrap-lg) {
      height: 18vw;
    }
  }
}
 
/*Crop images in the coursel*/
.carousel-item {
  img {
    height: 60vw;
    object-fit: cover;
    
    @media (min-width: $bootstrap-sm) {
      height: 350px;
    }
  }
}

.modal-dialog {
	width: 900px;
}

.modal-header {
	padding: 10px 10px 0;
}

.show-read-more .more-text {
    display: none;
    text-decoration: none;
}

.read-more {
	color: green;
	padding-left: 1rem;
}

.read-more:hover {
	color: green;
	text-decoration: none;
}